<h2>Search</h2>
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Search</legend>

<!-- Search input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="year">Year</label>
  <div class="col-md-4">
    <input id="year" name="year" type="search" placeholder="year" class="form-control input-md">
    
  </div>
</div>

<!-- Search input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="month">Month</label>
  <div class="col-md-4">
    <input id="month" name="month" type="search" placeholder="month" class="form-control input-md">
    
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="topn">Topn</label>  
  <div class="col-md-4">
    <input id="topn" name="topn" type="number" min=1 step=1.0 placeholder="topn" class="form-control input-md" >
      
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="sortby">Sort By</label>
  <div class="col-md-4">
    <select id="sortby" name="sortby" class="form-control">
      <option value="isbn13">Book</option>
      <option value="authors">Author</option>
      <option value="publisher">Publisher</option>
    </select>
  </div>
</div>

<br>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="searchbutton"></label>
  <div class="col-md-4">
    <button id="searchbutton" name="searchbutton" class="btn btn-primary">Search</button>
  </div>
</div>

</fieldset>
</form>
<h2>Search Results</h2>
{% if results %}
  <ol>
  {% for book in results %}
  <li>
  <a href = "../books/{{book.9}}" >{{ book.0 }}</a><br>  <! TITLE>    
  {{ book.4 }}<br>  <! AUTHOR>   
  {{ book.5 }}<br>  <! PUBLISHER>
  {{ book.6 }}<br>  <! SUBJECT>
  {{ book.7 }}<br>  <! YEAR>
  <!-- QUERY LANGUAGE TO GET SCORE BY REFERENCING ANOTHER SUBTABLE -->
    
  </li>
  {% endfor %}
  </ol> 
{% endif %}

