<form class="form-horizontal" method="post">
{% csrf_token %}  <! to check for forgery>
<fieldset>

<!-- Form Name -->
<legend>New Book</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="title">Title</label>  
  <div class="col-md-4">
  <input id="title" name="title" type="text" placeholder="title" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="format">Format</label>  
  <div class="col-md-4">
  <input id="format" name="format" type="text" placeholder="format" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="pages">Pages</label>  
  <div class="col-md-4">
  <input id="pages" name="pages" type="text" placeholder="pages" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="language">Language</label>  
  <div class="col-md-4">
  <input id="language" name="language" type="text" placeholder="language" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="authors">Author(s)</label>  
  <div class="col-md-4">
  <input id="authors" name="authors" type="text" placeholder="authors" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="publisher">Publisher</label>  
  <div class="col-md-4">
  <input id="publisher" name="publisher" type="text" placeholder="publisher" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="subject">Subject</label>  
  <div class="col-md-4">
  <input id="subject" name="subject" type="text" placeholder="subject" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="year">Year</label>  
  <div class="col-md-4">
  <input id="year" name="year" type="text" placeholder="year" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="isbn10">ISBN10</label>  
  <div class="col-md-4">
  <input id="isbn10" name="isbn10" type="text" placeholder="isbn10" class="form-control input-md">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="isbn13">ISBN13</label>  
  <div class="col-md-4">
  <input id="isbn13" name="isbn13" type="text" placeholder="isbn13" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="button"></label>
  <div class="col-md-4">
    <button id="button" name="button" class="btn btn-default">Submit</button>
  </div>
</div>

</fieldset>
</form>
