<h2>Search</h2>
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Form Name</legend>

<!-- Search input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="author">Author</label>
  <div class="col-md-4">
    <input id="author" name="author" type="search" placeholder="author" class="form-control input-md">
    
  </div>
</div>

<!-- Search input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="title">Title</label>
  <div class="col-md-4">
    <input id="title" name="title" type="search" placeholder="title" class="form-control input-md">
    
  </div>
</div>

<!-- Search input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="publisher">Publisher</label>
  <div class="col-md-4">
    <input id="publisher" name="publisher" type="search" placeholder="publisher" class="form-control input-md">
    
  </div>
</div>

<!-- Search input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="subject">Subject</label>
  <div class="col-md-4">
    <input id="subject" name="subject" type="search" placeholder="subject" class="form-control input-md">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="searchbutton"></label>
  <div class="col-md-4">
    <button id="searchbutton" name="searchbutton" class="btn btn-primary">Search</button>
  </div>
</div>

</fieldset>
</form>

