<h2>User Orders</h2>


<button type="button" id=goToProfile>Profile</button>

<script type="text/javascript">
    document.getElementById("goToProfile").onclick = function () {
        location.href = "profile";
    };
</script>
<button type="button" id=goToOrders>Orders</button>

<script type="text/javascript">
    document.getElementById("goToOrders").onclick = function () {
        location.href = "orders";
    };
</script>
<button type="button" id=goToFeedback>Feedback</button>

<script type="text/javascript">
    document.getElementById("goToFeedback").onclick = function () {
        location.href = "feedback";
    };
</script>
<button type="button" id=goToRatings>Ratings</button>

<script type="text/javascript">
    document.getElementById("goToRatings").onclick = function () {
        location.href = "ratings";
    };
</script>

{% if results %}
  <ol>
  {% for order in results %}
  <li>
    {{ order.0 }}<br>  <! DATE>   
    <a href = "../../books/{{book.9}}" >{{ order.1 }}</a><br>  <! TITLE>        
    
<!-- QUERY LANGUAGE TO GET SCORE BY REFERENCING ANOTHER SUBTABLE -->
    
 </li>
  {% endfor %}
  </ol> 
{% endif %}